[Desktop Entry]
Type=Application
Version=1.0
Name=Software
Comment=Install apps
Keywords=software;
Exec=software
Icon=snap-store
Terminal=false
Categories=System;