name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  setup:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: Atsumi3/actions-setup-fvm@0.0.3
      - uses: bluefireteam/melos-action@v2
      - run: melos generate
      - uses: actions/cache@v3
        with:
          path: |
            .*
            **/*
          key: ${{ runner.os }}-repo-${{ github.sha }}

  analyze:
    runs-on: ubuntu-22.04
    needs: setup
    steps:
      - name: Restore repository cache
        uses: actions/cache@v3
        with:
          path: |
            .
          key: ${{ runner.os }}-repo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-repo-
      - uses: Atsumi3/actions-setup-fvm@0.0.3
      - uses: bluefireteam/melos-action@v2
      - run: melos analyze --fatal-infos

  format:
    runs-on: ubuntu-22.04
    needs: setup
    steps:
      - name: Restore repository cache
        uses: actions/cache@v3
        with:
          path: |
            .
          key: ${{ runner.os }}-repo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-repo-
      - uses: Atsumi3/actions-setup-fvm@0.0.3
      - uses: bluefireteam/melos-action@v2
      - run: melos format:exclude

  l10n:
    runs-on: ubuntu-22.04
    needs: setup
    steps:
      - name: Restore repository cache
        uses: actions/cache@v3
        with:
          path: |
            .
          key: ${{ runner.os }}-repo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-repo-
      - uses: Atsumi3/actions-setup-fvm@0.0.3
      - uses: bluefireteam/melos-action@v2
      - run: melos gen-l10n
      - name: Check for outdated l10n
        if: github.event_name == 'pull_request'
        run: ./scripts/check-outdated-files.sh
      - name: Create PR
        if: github.event_name == 'push'
        uses: peter-evans/create-pull-request@v5
        with:
          add-paths: '**/l10n/*.dart'
          title: 'chore: regenerate l10n'
          commit-message: 'chore: regenerate l10n'
          branch: create-pull-request/l10n
          delete-branch: true

  test:
    runs-on: ubuntu-22.04
    needs: setup
    steps:
      - name: Restore repository cache
        uses: actions/cache@v3
        with:
          path: |
            .
          key: ${{ runner.os }}-repo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-repo-
      - uses: Atsumi3/actions-setup-fvm@0.0.3
      - uses: bluefireteam/melos-action@v2
      - run: sudo apt update && sudo apt install -y lcov
      - run: melos coverage
      - uses: codecov/codecov-action@v3
        with:
          token: ${{secrets.CODECOV_TOKEN}}
