name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  setup:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: Atsumi3/actions-setup-fvm@0.0.3
      - uses: bluefireteam/melos-action@v2
      - run: melos generate
      - run: melos gen-l10n
      - uses: actions/cache@v3
        with:
          path: .
          key: ${{ runner.os }}-repo-${{ github.sha }}-generated

  analyze:
    runs-on: ubuntu-22.04
    needs: setup
    steps:
      - uses: actions/checkout@v3
      - name: Restore repository cache
        uses: actions/cache@v3
        with:
          path: .
          key: ${{ runner.os }}-repo-${{ github.sha }}-generated
          restore-keys: |
            ${{ runner.os }}-repo-
      - uses: Atsumi3/actions-setup-fvm@0.0.3
      - uses: bluefireteam/melos-action@v2
      - run: melos analyze --fatal-infos

  format:
    runs-on: ubuntu-22.04
    needs: setup
    steps:
      - uses: actions/checkout@v3
      - name: Restore repository cache
        uses: actions/cache@v3
        with:
          path: .
          key: ${{ runner.os }}-repo-${{ github.sha }}-generated
          restore-keys: |
            ${{ runner.os }}-repo-
      - uses: Atsumi3/actions-setup-fvm@0.0.3
      - uses: bluefireteam/melos-action@v2
      - run: melos format:exclude

  l10n:
    runs-on: ubuntu-22.04
    needs: setup
    steps:
      - uses: actions/checkout@v3
      - name: Restore repository cache
        uses: actions/cache@v3
        with:
          path: .
          key: ${{ runner.os }}-repo-${{ github.sha }}-generated
      - uses: Atsumi3/actions-setup-fvm@0.0.3
      - uses: bluefireteam/melos-action@v2
      - run: melos gen-l10n
      - name: Check for outdated l10n
        if: github.event_name == 'pull_request'
        run: ./scripts/check-outdated-files.sh
      - name: Create PR
        if: github.event_name == 'push'
        uses: peter-evans/create-pull-request@v5
        with:
          add-paths: '**/l10n/*.dart'
          title: 'chore: regenerate l10n'
          commit-message: 'chore: regenerate l10n'
          branch: create-pull-request/l10n
          delete-branch: true

  test:
    runs-on: ubuntu-22.04
    needs: setup
    steps:
      - uses: actions/checkout@v3
      - name: Restore repository cache
        uses: actions/cache@v3
        with:
          path: .
          key: ${{ runner.os }}-repo-${{ github.sha }}-generated
          restore-keys: |
            ${{ runner.os }}-repo-
      - uses: Atsumi3/actions-setup-fvm@0.0.3
      - uses: bluefireteam/melos-action@v2
      - run: sudo apt update && sudo apt install -y lcov
      - run: melos coverage
      - uses: codecov/codecov-action@v3
        with:
          token: ${{secrets.CODECOV_TOKEN}}

      # FIXME: uncomment once the configuration on the TiCS side is updated to use
      #        the correct branch name
      # - name: Run TICS analysis
      #   if: github.event_name == 'push'
      #   uses: tiobe/tics-github-action@v3
      #   with:
      #     mode: qserver
      #     project: app-center
      #     viewerUrl: https://canonical.tiobe.com/tiobeweb/TICS/api/cfg?name=default
      #     ticsAuthToken: ${{ secrets.TICSAUTHTOKEN }}
      #     installTics: true
      #     branchname: main
