name: Snap

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  snap:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: asdf-vm/actions/install@v2
      - uses: bluefireteam/melos-action@v3
      - uses: snapcore/action-build@v1
        id: snapcraft
      - uses: actions/upload-artifact@v3
        if: github.event_name == 'workflow_dispatch'
        with:
          name: 'snap'
          path: ${{steps.snapcraft.outputs.snap}}
